/build/
/dist/
*~
*.dep_inc
*.inc
Makefile
nbproject
tests/settings.hpp
doc/*
tests/data/output/*
build/
.directory
latex/
/workflows/demo_4DOperator/dist/
*.user
/Viewer/build-ViewLF-Desktop-Debug/
/Viewer/build-LF_Viewer-Desktop-Debug/
/tests/CMakeLists.txt
/tests/test_example.cpp
/tests/test_example.hpp
/tests/test_example_run.cpp
